body{
  font-family: 'Roboto Mono', monospace;
}
/* ---nav bar css--- */
.nav-link{
  font-weight: 200;
  letter-spacing: 0.7px;
  cursor: pointer;

text-transform: uppercase;
color: beige !important;
padding: 20px !important;
border-bottom: 4px solid  #464a47 ;

}
.navbar{
  background-color: #464a47 !important;
}
.nav-link:focus{
  border-bottom: 4px solid #dc3545;
  
}
.nav-link:hover{
  border-bottom: 4px solid rgb(66, 170, 195);
  
}
.navbar-brand{
  color: antiquewhite;
  font-size: 30px !important;
  font-weight: 500;
  
}
.navbar-brand:hover{
  color: #dc3545;
  opacity: 1;

}
